<div class="thesis-entry">
  <div class="title h5 mb-2">{{ entry.title }}</div>
  <div class="periodical">
    <em>{{ entry.school }} M.S. Thesis</em>, {{ entry.year }}.
  </div>
  <div class="links mt-2">
    {% for link in entry.links %}
      <a href="{{ link.url }}" class="btn btn-sm btn-outline-primary" target="_blank">{{ link.name }}</a>
    {% endfor %}
    {% if entry.slides %}
      <a href="/assets/pdf/{{ entry.slides }}" class="btn btn-sm btn-outline-primary" target="_blank">Slides</a>
    {% endif %}
    {% if entry.pdf %}
      <a href="/assets/pdf/{{ entry.pdf }}" class="btn btn-sm btn-outline-primary" target="_blank">PDF</a>
    {% endif %}
    {% if entry.library %}
        <a href="{{ entry.library }}" class="btn btn-sm btn-outline-primary" target="_blank">Library</a>
    {% endif %}
  </div>
</div>